{% extends '__ide.html' %}

{% block header_scripts %}
{% include '__t_ace_header.html' %}
{% endblock header_scripts %}

{% block top %}
<div class="navbar">
  <a href="#file">File</a>
  <a href="#edit">Edit</a>
  <div class="dropdown">
    <button class="dropbtn">Selection
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>
{% endblock top %}

{% block left %}
<a href="#">Link 1</a><br>
<a href="#">Link 2</a><br>
<a href="#">Link 3</a>
{% endblock left %}

{% block center %}
{{ script_graph|indent(4)|safe }}
{% endblock center %}

{% block right %}
<a href="#">Link 1</a><br>
<a href="#">Link 2</a><br>
<a href="#">Link 3</a>
{% endblock right %}

{% block bottom %}
{% include '__t_ace_body.html' %}
{% endblock bottom %}