{% extends '__base.html' %}

{% block head %}
{% block header_scripts %} 
{% endblock header_scripts %}
{% endblock head %} 

{% block body %} 
  <div class="container">
  <div class="header">
    {% block header %} 
    {% endblock header %}
  </div>
  <div class="menu">
    {% block menu %} 
    {% endblock menu %}
  </div>
  <div class="content">
    {% block content %} 
    {% endblock content %}
  </div>
  <div class="tools">
    {% block tools %} 
    {% endblock tools %}
  </div>
  <div class="footer">
    {% block footer %} 
    {% endblock footer %}
  </div>
  </div>
{% endblock body %}