{% extends '__base.html' %}

{% block head %}
{% block header_scripts %} 
{% endblock header_scripts %}
{% endblock head %} 

{% block body %} 
  <div class="container">
  <div class="top">
    {% block top %} 
    {% endblock top %}
  </div>
  <div class="left">
    {% block left %} 
    {% endblock left %}
  </div>
    {% block center %} 
    {% endblock center %}
  <div class="right">
    {% block right %} 
    {% endblock right %}
  </div>
  <div class="bottom">
    {% block bottom %} 
    {% endblock bottom %}
  </div>
  </div>
{% endblock body %}