{% extends '__ide.html' %}

{% block header_scripts %}
  {{ script|indent(4)|safe }}
{% endblock header_scripts %}

{% block header %}
    <h2>My Header</h2>
{% endblock header %}

{% block menu %}
    <a href="#">Link 1</a><br>
    <a href="#">Link 2</a><br>
    <a href="#">Link 3</a>
{% endblock menu %}

{% block content %}
    <div class="graph">
      {{ div|indent(4)|safe }}
    </div>
{% endblock content %}

{% block tools %}
    <a href="#">Link 1</a><br>
    <a href="#">Link 2</a><br>
    <a href="#">Link 3</a>
{% endblock tools %}

{% block footer %}
    <iframe frameborder='0' noresize='noresize' style='position: absolute; background: transparent; width: 100%; height:100%;' src="{{ iframe }}" frameborder="0"></iframe>
{% endblock footer %}