{% extends '__ide.html' %}

{% block header_scripts %}
  
{% endblock header_scripts %}

{% block header %}
    <h2>My Header</h2>
{% endblock header %}

{% block menu %}
    <a href="#">Link 1</a><br>
    <a href="#">Link 2</a><br>
    <a href="#">Link 3</a>
{% endblock menu %}

{% block content %}

    <iframe frameborder='0' noresize='noresize' scrolling="no" marginheight="0" marginwidth="0" src="{{ iframe_graph }}" class="iframe_graph"></iframe>

{% endblock content %}

{% block tools %}
    <a href="#">Link 1</a><br>
    <a href="#">Link 2</a><br>
    <a href="#">Link 3</a>
{% endblock tools %}

{% block footer %}

    <iframe frameborder='0' src="{{ iframe_about }}" class="iframe_about"></iframe>

{% endblock footer %}