<div class="navbar">
  <a href="#file">File</a>
  <a href="#edit">Edit</a>
  <div class="dropdown">
    <button class="dropbtn">Selection
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <ul>
        <li>
          <button id="t" class="button_menubar">
            <span id="buttonText">t</span>
          </button>
        </li>
        <li>
          <button id="t" class="button_menubar">
            <span id="buttonText">t</span>
          </button>
        </li>
        <li>
          <button id="t" class="button_menubar">
            <span id="buttonText">t</span>
          </button>
        </li>
        <li>
          <button id="t" class="button_menubar">
            <span id="buttonText">t</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>